<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DLR Email Templates Reference</title>
    <link rel="stylesheet" href="index.css">
    <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->
  </head>
  <body>
    <main>
        <h1>DLR Email Templates Reference</h1>
        <ul>
            <li><a href="emails/reference-interxion.html">Base template (Interxion version)</a></li>
            <li><a href="emails/reference-dlr.html">Base template (Digital Realty version)</a></li>
        </ul>

        {% set emails = ["new-user", "refresh-registration-link", "successful-registration"] %}

        <section>
          <h2>Interxion version</h2>
          <ul>
            {% for email in emails %}
            <li><a href="emails/{{ email }}-interxion.html">{{ email | replace("-", " ") | title }} (en)</a></li>
            {% endfor %}
          </ul>
        </section>

        <section>
          <h2>Digital Realty version</h2>
          <ul>
            {% for email in emails %}
            <li><a href="emails/{{ email }}-dlr.html">{{ email | replace("-", " ") | title }} (en)</a></li>
            {% endfor %}
          </ul>
        </section>
    </main>
  </body>
</html>