<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="10" style="background-color: #fff; color: #0C223F; line-height: 1.4;">
  <tr>
    <td>
      {% raw %}{{#if french}}{% endraw %}
      <h2 style="font-size: 1.25em; margin: .25em 0 .25em;">Cher.e client.e,</h2>
      
      <p style="margin: 0 0 .5em;">Le mot de passe que vous utilisez pour accéder au Portail client va expirer dans <strong style="font-weight: bold">{% raw %}{{ NumberOfDays }}{% endraw %} jours</strong>.</p>
      <p style="margin: 0 0 .5em;">Pour réinitialiser votre mot de passe, procédez comme suit:</p>
      
      <ol style="margin:0; margin-left: 25px; padding:0; color:#115BD8;" align="left" type="decimal">
        <li style="margin-bottom: .25em;">
          <span style="color:#0C223F;">
            Cliquez sur le lien <a href="{% raw %}{{ url }}{% endraw %}">Mot de passe oublié</a>.
          </span>
        </li>
        
        <li>
          <span style="color:#0C223F;">
            Saisissez votre adresse e-mail et cliquez sur Suivant.
          </span>
        </li>
        
        <li>
          <span style="color:#0C223F;">
            Vous recevrez un e-mail avec des instructions vous permettant de réinitialiser votre mot de passe.
          </span>
        </li>
      </ol>
      
      <h3 style="font-size: 1.1em; margin: 1em 0 .25em;">Conseil :</h3>
      
      <p style="margin: 0 0 1em;">N’UTILISEZ PAS de mot de passe facile à deviner, comme votre date d’anniversaire ou d’anniversaire de mariage, ou encore votre nom.</p>
      
      <p style="margin: 0 0 .5em;">Nous vous recommandons d’utiliser des phrases secrètes semblables aux exemples suivants :</p>
      
      <ul style="margin:0; margin-left: 25px; padding:0; color:#115BD8;" align="left" type="disc">
        <li style="margin-bottom: .25em;">
          <span style="color:#0C223F;">
            I@mGreatT0day!
          </span>
        </li>
        
        <li>
          <span style="color:#0C223F;">
            Hu9eHun9ryL!0n
          </span>
        </li>
      </ul>
      
      <h3 style="font-size: 1.1em; margin: 1em 0 .25em;">Password requirements:</h3>
      
      <ul style="margin:0; margin-left: 25px; padding:0; color:#115BD8;" align="left" type="disc">
        <li style="margin-bottom: .25em;">
          <span style="color:#0C223F;">
            Doit contenir au moins une chiffre (0-9)
          </span>
        </li>
        
        <li>
          <span style="color:#0C223F;">
            Doit contenir au moins une lettre minuscule (a-z)
          </span>
        </li>
        
        <li style="margin-bottom: .25em;">
          <span style="color:#0C223F;">
            Doit contenir au moins une lettre majuscule (A-Z)
          </span>
        </li>
        
        <li>
          <span style="color:#0C223F;">
            Doit contenir au moins un caractère spécial
          </span>
        </li>
        
        <li style="margin-bottom: .25em;">
          <span style="color:#0C223F;">
            Doit contenir au moins 8 caractères
          </span>
        </li>
        
        <li>
          <span style="color:#0C223F;">
            Ne doit pas contenir votre nom ou adresse email
          </span>
        </li>
        
        <li>
          <span style="color:#0C223F;">
            Ne doit pas contenir "&lt;" ou "&gt;"
          </span>
        </li>
      </ul>
      
      <p style="margin: 1em 0 0;">Merci !</p>
      <p style="margin: 0;"><strong style="font-weight: bold;">L’équipe Digital Realty</strong></p>

      {% raw %}{{else if german}}{% endraw %}
      <h2 style="font-size: 1.25em; margin: .25em 0 .25em;">Sehr geehrte Kundin, sehr geehrter Kunde,</h2>
      
      <p style="margin: 0 0 .5em;">Ihr Kundenportal-Passwort läuft in <strong style="font-weight: bold">{% raw %}{{ NumberOfDays }}{% endraw %} Tagen ab</strong>.</p>
      <p style="margin: 0 0 .5em;">Um Ihr Passwort zurückzusetzen, führen Sie bitte die folgenden Schritte aus :</p>
      
      <ol style="margin:0; margin-left: 25px; padding:0; color:#115BD8;" align="left" type="decimal">
        <li style="margin-bottom: .25em;">
          <span style="color:#0C223F;">
            Gehen Sie zu <a href="{% raw %}{{ url }}{% endraw %}">Passwort vergessen</a>.
          </span>
        </li>
        
        <li>
          <span style="color:#0C223F;">
            Geben Sie Ihre E-Mail-Adresse ein und klicken Sie auf ‚Weiter‘.
          </span>
        </li>
        
        <li>
          <span style="color:#0C223F;">
            Sie erhalten eine E-Mail zum Zurücksetzen des Passworts. Befolgen Sie die Anweisungen in der E-Mail, um es zurückzusetzen.
          </span>
        </li>
      </ol>
      
      <h3 style="font-size: 1.1em; margin: 1em 0 .25em;">Hinweis:</h3>

      <p style="margin: 0 0 1em;">Verwenden Sie KEINE leicht zu erratenden Passwörter wie Ihren Geburtstag, Jahrestag oder Namen.</p>
      
      <p style="margin: 0 0 .5em;">Es wird dringend empfohlen, Passphrasen zu verwenden, die den folgenden Beispielen ähneln:</p>

      <ul style="margin:0; margin-left: 25px; padding:0; color:#115BD8;" align="left" type="disc">
        <li style="margin-bottom: .25em;">
          <span style="color:#0C223F;">
            I@mGreatT0day!
          </span>
        </li>

        <li>
          <span style="color:#0C223F;">
            Hu9eHun9ryL!0n
          </span>
        </li>
      </ul>

      <h3 style="font-size: 1.1em; margin: 1em 0 .25em;">Passwortanforderungen:</h3>

      <ul style="margin:0; margin-left: 25px; padding:0; color:#115BD8;" align="left" type="disc">
        <li style="margin-bottom: .25em;">
          <span style="color:#0C223F;">
            Müssen minestens eine Ziffer ('0'-'9') enthalten
          </span>
        </li>
        
        <li>
          <span style="color:#0C223F;">
            Müssen mindestens einen Kleinbuchstaben ('a'-'z') enthalten
          </span>
        </li>
        
        <li style="margin-bottom: .25em;">
          <span style="color:#0C223F;">
            Müssen mindestens einen Großbuchstaben ('A'-'Z') enthalten
          </span>
        </li>
        
        <li>
          <span style="color:#0C223F;">
            Müssen mindestens ein nicht alphanumerisches Zeichen enthalten
          </span>
        </li>
        
        <li style="margin-bottom: .25em;">
          <span style="color:#0C223F;">
            Müssen aus mindestens 8 Zeichen bestehen
          </span>
        </li>
        
        <li>
          <span style="color:#0C223F;">
            Dürfen weder Ihren Namen noch Ihre E-Mail-Adresse enthalte
          </span>
        </li>
        
        <li>
          <span style="color:#0C223F;">
            Dürfen kein "&lt;" oder "&gt;" enthalten
          </span>
        </li>
      </ul>

      <p style="margin: 1em 0 0;">Vielen Dank!</p>
      <p style="margin: 0;"><strong style="font-weight: bold;">Ihr Digital Realty Team</strong></p>

      {% raw %}{{else if spanish}}{% endraw %}
      <h2 style="font-size: 1.25em; margin: .25em 0 .25em;">Estimado/a cliente,</h2>
      
      <p style="margin: 0 0 .5em;">Su contraseña para el Portal de clientes caducará en <strong style="font-weight: bold">{% raw %}{{ NumberOfDays }}{% endraw %} días</strong>.</p>
      <p style="margin: 0 0 .5em;">Para restablecer su contraseña, siga los siguientes pasos.</p>
      
      <ol style="margin:0; margin-left: 25px; padding:0; color:#115BD8;" align="left" type="decimal">
        <li style="margin-bottom: .25em;">
          <span style="color:#0C223F;">
            Vaya a <a href="{% raw %}{{ url }}{% endraw %}">olvido de contraseña</a>.
          </span>
        </li>
        
        <li>
          <span style="color:#0C223F;">
            Introduzca su dirección de e-mail y haga clic en Siguiente.
          </span>
        </li>
        
        <li>
          <span style="color:#0C223F;">
            Recibirá un e-mail de restablecimiento de contraseña. Siga las instrucciones en el e-mail para restablecerla.
          </span>
        </li>
      </ol>
      
      <h3 style="font-size: 1.1em; margin: 1em 0 .25em;">Sugerencia:</h3>

      <p style="margin: 0 0 1em;">NO utilice contraseñas fáciles de adivinar, como su cumpleaños, aniversario o nombre.</p>
      
      <p style="margin: 0 0 .5em;">Le recomendamos encarecidamente utilizar frases de contraseña similares a los ejemplos siguientes:</p>

      <ul style="margin:0; margin-left: 25px; padding:0; color:#115BD8;" align="left" type="disc">
        <li style="margin-bottom: .25em;">
          <span style="color:#0C223F;">
            I@mGreatT0day!
          </span>
        </li>

        <li>
          <span style="color:#0C223F;">
            Hu9eHun9ryL!0n
          </span>
        </li>
      </ul>

      <h3 style="font-size: 1.1em; margin: 1em 0 .25em;">Requisitos de las contraseñas::</h3>

      <ul style="margin:0; margin-left: 25px; padding:0; color:#115BD8;" align="left" type="disc">
        <li style="margin-bottom: .25em;">
          <span style="color:#0C223F;">
            Deben contener al menos un dígito ('0'-'9')
          </span>
        </li>
      
        <li>
          <span style="color:#0C223F;">
            Deben contener al menos una minúscula ('a'-'z').
          </span>
        </li>
      
        <li style="margin-bottom: .25em;">
          <span style="color:#0C223F;">
            Deben contener al menos una mayúscula ('A'-'Z').
          </span>
        </li>
      
        <li>
          <span style="color:#0C223F;">
            Deben contener al menos un carácter no alfanumérico
          </span>
        </li>
      
        <li style="margin-bottom: .25em;">
          <span style="color:#0C223F;">
            Deben tener al menos 8 caracteres.
          </span>
        </li>
      
        <li>
          <span style="color:#0C223F;">
            No deben contener su nombre ni su dirección de correo electrónico.
          </span>
        </li>
      
        <li>
          <span style="color:#0C223F;">
            No deben contener “&lt;“ ni “&gt;”
          </span>
        </li>
      </ul>

      <p style="margin: 1em 0 0;">Gracias.</p>
      <p style="margin: 0;"><strong style="font-weight: bold;">Su equipo de Digital Realty</strong></p>

      {% raw %}{{else}}{% endraw %}

      <h2 style="font-size: 1.25em; margin: .25em 0 .25em;">Dear Valued Customer,</h2>
      
      <p style="margin: 0 0 .5em;">Your Customer Portal password will expire in <strong style="font-weight: bold">{% raw %}{{ NumberOfDays }}{% endraw %} days</strong>.</p>
      <p style="margin: 0 0 .5em;">To reset your password, please follow the steps below:</p>
      
      <ol style="margin:0; margin-left: 25px; padding:0; color:#115BD8;" align="left" type="decimal">
        <li style="margin-bottom: .25em;">
          <span style="color:#0C223F;">
            Go to the <a href="{% raw %}{{ url }}{% endraw %}">forgot password page</a>.
          </span>
        </li>
        
        <li>
          <span style="color:#0C223F;">
            Enter your email address and click Next
          </span>
        </li>
        
        <li>
          <span style="color:#0C223F;">
            You will receive an email of resetting the password. Follow the instructions in the email to reset it.
          </span>
        </li>
      </ol>
      
      <h3 style="font-size: 1.1em; margin: 1em 0 .25em;">Hint:</h3>
      
      <p style="margin: 0 0 1em;">DO NOT use easy to guess passwords such as your birthday, anniversary, or name.</p>
      
      <p style="margin: 0 0 .5em;">It is highly recommended to use passphrases similar to the examples below:</p>
      
      <ul style="margin:0; margin-left: 25px; padding:0; color:#115BD8;" align="left" type="disc">
        <li style="margin-bottom: .25em;">
          <span style="color:#0C223F;">
            I@mGreatT0day!
          </span>
        </li>
        
        <li>
          <span style="color:#0C223F;">
            Hu9eHun9ryL!0n
          </span>
        </li>
      </ul>
      
      <h3 style="font-size: 1.1em; margin: 1em 0 .25em;">Password requirements:</h3>
      
      <ul style="margin:0; margin-left: 25px; padding:0; color:#115BD8;" align="left" type="disc">
        <li style="margin-bottom: .25em;">
          <span style="color:#0C223F;">
            At least one digit (0-9)
          </span>
        </li>
        
        <li>
          <span style="color:#0C223F;">
            At least one lowercase (a-z)
          </span>
        </li>
        
        <li style="margin-bottom: .25em;">
          <span style="color:#0C223F;">
            At least one uppercase (A-Z)
          </span>
        </li>
        
        <li>
          <span style="color:#0C223F;">
            At least one non-alphanumeric character
          </span>
        </li>
        
        <li style="margin-bottom: .25em;">
          <span style="color:#0C223F;">
            At least 8 characters
          </span>
        </li>
        
        <li>
          <span style="color:#0C223F;">
            Must not contain your name or email address
          </span>
        </li>
        
        <li>
          <span style="color:#0C223F;">
            Must not contain “&lt;“ or “&gt;”
          </span>
        </li>
      </ul>
      
      <p style="margin: 1em 0 0;">Thank you!</p>
      <p style="margin: 0;"><strong style="font-weight: bold;">Your Digital Realty Team</strong></p>
      {% raw %}{{/if}}{% endraw %}
    </td>
  </tr>
</table>