<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="5" style="background-color: #092241; color: #fff; font-size: 83.3333%">
  <tr>
    <td>

      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr style="vertical-align: top;">
          <td class="stackable-grid" style="text-align: center; width: 33%; display: inline-block;">
            <h2 style="font-size: 1em; margin: .5em 0 0;">Australia</h2>
            <p style="margin: 0 0 1em">+61 383611501</p>
          </td><td class="stackable-grid" style="text-align: center; width: 33%; display: inline-block;">
            <h2 style="font-size: 1em; margin: .5em 0 0;">Europe</h2>
            <p style="margin: 0 0 .25em">+8000 183 909</p>
            <p style="margin: 0 0 1em">+1 862 277 8813</p>
          </td><td class="stackable-grid" style="text-align: center; width: 33%; display: inline-block;">
            <h2 style="font-size: 1em; margin: .5em 0 0;">Hong-Kong</h2>
            <p style="margin: 0 0 1em">+852 22817502</p>
          </td><td class="stackable-grid" style="text-align: center; width: 33%; display: inline-block;">
            <h2 style="font-size: 1em; margin: .5em 0 0;">Japan</h2>
            <p style="margin: 0 0 .25em">+81-726299066 (English)</p>
            <p style="margin: 0 0 1em">+81-727368473 (日本語)</p>
          </td><td class="stackable-grid" style="text-align: center; width: 33%; display: inline-block;">
            <h2 style="font-size: 1em; margin: .5em 0 0;">North America</h2>
            <p style="margin: 0 0 1em">+1 877 357 7782</p>
          </td><td class="stackable-grid" style="text-align: center; width: 33%; display: inline-block;">
            <h2 style="font-size: 1em; margin: .5em 0 0;">Singapore</h2>
            <p style="margin: 0 0 1em">+65 65053912</p>
          </td>
        </tr>
      </table>

    </td>
  </tr>

  <tr>
    <td style="text-align: center;">
      <h2 style="font-size: 1em; margin: 0;">Global Customer Centre</h2>
      <p style="margin: 0 0 1em"><a style="color: #fff; text-decoration: none;" href="mailto:gcc@digitalrealty.com">gcc@digitalrealty.com</a></p>
    </td>
  </tr>
</table>