<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="5" style="background-color: #092241; color: #fff; font-size: 83.3333%">
  <tr>
    <td>

      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr style="vertical-align: top;">
          <td style="text-align: center; width: 33.333%;">
            <h2 style="font-size: 1em; margin: .5em 0 0; color: #fff;">Australia</h2>
            <p style="margin: 0 0 1em; color: #fff;">+61 383611501</p>
          </td>
          <td style="text-align: center; width: 33.333%;">
            <h2 style="font-size: 1em; margin: .5em 0 0; color: #fff;">Europe</h2>
            <p style="margin: 0 0 .25em; color: #fff;">+8000 183 909</p>
            <p style="margin: 0 0 1em; color: #fff;">+1 862 277 8813</p>
          </td>
          <td style="text-align: center; width: 33.333%;">
            <h2 style="font-size: 1em; margin: .5em 0 0; color: #fff;">Hong Kong</h2>
            <p style="margin: 0 0 1em; color: #fff;">+852 22817502</p>
          </td>
        </tr>
        <tr style="vertical-align: top;">
          <td style="text-align: center; width: 33.333%;">
            <h2 style="font-size: 1em; margin: .5em 0 0; color: #fff;">Japan</h2>
            <p style="margin: 0 0 .25em; color: #fff;">+81-726299066 <span class="contact-language">(English)</span></p>
            <p style="margin: 0 0 1em; color: #fff;">+81-727368473 <span class="contact-language">(日本語)</span></p>
          </td>
          <td style="text-align: center; width: 33.333%;">
            <h2 style="font-size: 1em; margin: .5em 0 0; color: #fff;">North America</h2>
            <p style="margin: 0 0 1em; color: #fff;">+1 877 357 7782</p>
          </td>
          <td style="text-align: center; width: 33.333%;">
            <h2 style="font-size: 1em; margin: .5em 0 0; color: #fff;">Singapore</h2>
            <p style="margin: 0 0 1em; color: #fff;">+65 65053912</p>
          </td>
        </tr>
      </table>

    </td>
  </tr>

  <tr>
    <td style="text-align: center;">
      <h2 style="font-size: 1em; margin: 0;">Global Customer Centre</h2>
      <p style="margin: 0 0 1em"><a style="color: #fff; text-decoration: none;" href="mailto:gcc@digitalrealty.com">gcc@digitalrealty.com</a></p>
    </td>
  </tr>
</table>