<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" background="../email-assets/email-banner.jpg" style="background-color: #092241; background-size: 100%; background-repeat: no-repeat;">
  <tr>
    <td>
      <img src="../email-assets/DLR-logo.svg" alt="Digital Realty" style="width: 33%; min-width: 113px; max-width: 149px; height: auto; padding: 8px 8px 0;">
    </td>
  </tr>
  <tr>
    <td>
      <h1 class="banner-heading" style="margin: 0; padding: 0 0 2em; font-size:1.25em; font-weight: normal; text-align: center; color: #fff;">{{ subject }}</h1>
    </td>
  </tr>
</table>