{% extends "templates/template-main-email.html" %}

{% block shortSubject %}
{% raw %}{{#if french}}{% endraw %}
Notification d’expiration prochaine du mot de passe
{% raw %}{{else if german}}{% endraw %}
Passwortablaufbenachrichtigung
{% raw %}{{else if spanish}}{% endraw %}
Notificación de caducidad de contraseña
{% raw %}{{else}}{% endraw %}
Password Expiration Notification
{% raw %}{{/if}}{% endraw %}
{% endblock %}

{% block content %}
  {% include "templates/emails/password-expiry-reminder.html" %}
  {% include "templates/partials/email-footer-interxion.html" %}
{% endblock %}