{% extends "templates/template-main-email.html" %}

{% block shortSubject %}
{% raw %}{{#if french}}{% endraw %}
Réinitialisation du mot de passe
{% raw %}{{else if german}}{% endraw %}
Passwort zurücksetzen
{% raw %}{{else if spanish}}{% endraw %}
Restablecer contraseña
{% raw %}{{else}}{% endraw %}
Password Reset Confirmation
{% raw %}{{/if}}{% endraw %}
{% endblock %}

{% block content %}
  {% include "templates/emails/password-reset-confirmation.html" %}
  {% include "templates/partials/email-footer-dlr.html" %}
{% endblock %}