{% extends "templates/template-main-email.html" %}

{% block shortSubject %}
{% raw %}{{#if french}}{% endraw %}
Notification d’expiration du mot de passe
{% raw %}{{else if german}}{% endraw %}
Benachrichtigung über abgelaufenes Passwort
{% raw %}{{else if spanish}}{% endraw %}
Notificación de contraseña caducada
{% raw %}{{else}}{% endraw %}
Password Expired Notification
{% raw %}{{/if}}{% endraw %}
{% endblock %}

{% block content %}
  {% include "templates/emails/password-expired.html" %}
  {% include "templates/partials/email-footer-dlr.html" %}
{% endblock %}