{% extends "templates/template-main-email.html" %}

{% block shortSubject %}
{% raw %}{{#if french}}{% endraw %}
Confirmation de l'Inscription
{% raw %}{{else if german}}{% endraw %}
Registrierungsbestätigung
{% raw %}{{else if spanish}}{% endraw %}
Confirmación de registro
{% raw %}{{else}}{% endraw %}
Registration Confirmation
{% raw %}{{/if}}{% endraw %}
{% endblock %}

{% block content %}
  {% include "templates/emails/successful-registration.html" %}
  {% include "templates/partials/email-footer-interxion.html" %}
{% endblock %}